@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&display=swap');
/* Sticky footer */
#root, body, html {
  height: 100%;
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}

.App {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
