.POPOSDetails {
	display: flex;
	margin: auto;
	flex-direction: column;
	padding: 15px;
	overflow: hidden;
	padding-bottom: 100px;
	max-width: 1200px;
	margin: 0 auto;
}
  .POPOSDetails-image{
	width: 100%;
	height: 600px;
	position: relative;
  }
  .POPOSDetails-image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

.POPOSDetails-info{
	flex: 1;
	min-width: 500px;
}

@media screen and (min-width:1000px){
	.POPOSDetails {
		flex-direction: row;
		justify-content: start;
		gap: 15px;
	}
}