.POPOSList-grid {
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-gap: 2em;
	/* max-width: 1200px;
	margin: auto; */
	padding: 2em;
	/* grid-template-columns: repeat((1, minmax((0, 1fr)))); */
	grid-template-columns: repeat(1, minmax(0, 1fr));
}


.POPOSList form {
	width: 33.33%;
	margin: 0 2rem;
	display: flex;
	align-items: flex-start;
}

.POPOSList form input,
.POPOSList form button {
	padding: 1em;
	margin: 0;
	border: 1px solid;
	font-size: 1rem;
}

.POPOSList form input {
	flex: 1;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.POPOSList form button {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}

@media screen and (min-width:900px) {
	.POPOSList-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));

	}
}
@media screen and (min-width:1100px) {
	.POPOSList-grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));

	}
}

@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 700px) {
	.POPOSList {
		grid-template-columns: 1fr;
	}
}