.POPOSDetails {
	display: flex;
	flex-direction: row-reverse;
	width: 960px;
	margin: auto;
}

.POPOSDetails .POPOSDetails-info {
	flex: 1;
	text-align: left;
	padding: 0 1em;
}

.POPOSDetails .POPOSDetails-title {
	font-size: 2em;
	margin: 0;
}

.POPOSDetails .POPOSDetails-image {
	flex: 2;
}

.POPOSDetails .POPOSDetails-image img {
	width: 100%;
}

.POPOSDetails .POPOSDetails-hours {
	font-size: 1.5em;
}

@media only screen and (max-width: 480px) {
    .POPOSDetails {
        width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
    }

	.POPOSDetails .POPOSDetails-info {
		text-align: center;
	}
}

@media only screen and (max-width: 960px) {
	.POPOSDetails {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.POPOSDetails .POPOSDetails-info {
		text-align: center;
	}
}
